dist/
build/
IMAGENS/
*.exe
*.parquet
*.xlsx
*.csv
*.png
*.jpg
*.log
__pycache__/

desktop.ini

tarefas.db
.venv/
venv/
.streamlit/
utils/client_secret.json
*.json
# Variáveis de ambiente e segredos
.env
*.env
*.bat
# Arquivos de ambiente virtual e cache
venv/
.venv/
__pycache__/
*.pyc
# Dados locais
backup_ambiente/
*.log
# Permitir explicitamente a pasta do GitHub Actions
!/.github/
!/.github/workflows/*
!/.streamlit/*