--extra-index-url https://download.pytorch.org/whl/cpu

streamlit
mcp
google-genai
groq
openai
qdrant-client
sqlglot
requests
pandas
numpy
scikit-learn
statsmodels
scipy
pypdf
anyio
plotly
openpyxl
fastapi
fastapi-cli