Pillow
beautifulsoup4
colorama
easyocr
flask
GitPython
numpy
openpyxl
pandas
python-dateutil
python-pptx
prophet
pymysql
pywhatkit
requests
rich
selenium
sidrapy
scikit-learn
sqlalchemy
streamlit
webdriver-manager
XlsxWriter
xlwings